<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>JStrainee</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="../css/app.css" type="text/css">
    <link type="text/css" rel="stylesheet" href="../css/app-small-device.css" media="screen and (max-width:768px)">
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <ul class="nav bg-dark fixed-top justify-content-center">
                <li class="nav-item"><a class="nav-link" href="../index.html">Native js example</a></li>
                <li class="nav-item"><a class="nav-link" href="../views/page.html">Ajax request example</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 first-banner d-flex flex-column justify-content-around  align-items-center">
            <img class="logo" src="../img/logo.png"/>
            <img class="log-17" src="../img/17.png"/>
            <div class="first-banner-text d-flex flex-column justify-content-around align-items-center">
                <h2>de 17 belangrijkste</h2>
                <h2>nieuwsmomenten van 2017</h2>
                <h2>volgenus nu.nl</h2>
            </div>
            <span>Scroll om te lezen</span>
            <i id="scroll-btn" class="fas fa-chevron-circle-down chevron-down"></i>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-lg-12" id="app">
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="d-flex col-12 footer flex-column justify-content-between align-items-center">
            <h2 class="footer-text">deel op social media</h2>
            <div class="d-flex justify-content-center social-block">
                <a class="social-btn" target="_blank" href="http://facebook.com"><i class="fab fa-facebook-f"></i></a>
                <a class="social-btn" target="_blank" href="http://twitter.com"><i class="fab fa-twitter"></i></a>
                <a class="social-btn" target="_blank" href="http://viber.com"><i class="fab fa-viber"></i></a>
                <a class="social-btn" target="_blank" href="http://viber.com"><i class="fas fa-link"></i></a>
            </div>
            <span class="footer-copyright">Copyright 2018</span>
            </div>
        </div>
    </div>
</div>

<script>

</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script src="../js/api.js"></script>
<script src="../js/scroll.js"></script>
</body>
</html>